@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Serif JP", serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    /* Cor de fundo para o corpo da página */
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.youtube-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.youtube-button:hover {
    background-color: #cc0000;
}

.youtube-button i {
    margin-right: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    /* Cor de fundo para o conteúdo da página */
}

ul {
    background-color: #333;
    /* Cor de fundo para a lista */
    font-size: 18pt;
    /* Tamanho da fonte aumentado */
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

h1 {
    text-align: center;
    margin: 20px;
    background-color: #ffa07a;
    /* Cor de fundo para o cabeçalho */
    padding: 20px;
    border: solid 2px black;
}

li {
    padding: 15px;
    /* Espaçamento aumentado */
    border: 1px solid #ccc;
    margin: 10px 0;
}

label {
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: static;
    bottom: 0;
    width: 100%;
}

.downloads {
    background-color: #000;
    /* Cor de fundo para a área de downloads */
    color: white;
    padding: 20px;
    margin-top: 20px;
    font-size: 20pt;
    /* Tamanho da fonte aumentado para a área de downloads */
}

@media (max-width: 768px) {
    ul {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }
}

.toggle-btn {
    cursor: pointer;
    font-size: 24px;
    text-align: right;
    margin: 10px;
}

.side-tab {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background: #f1f1f1;
    padding: 20px;
    transition: left 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close-btn {
    cursor: pointer;
    font-size: 24px;
    color: #888;
    text-align: center;
    margin-bottom: 20px;
}

.close-btn:hover {
    color: #555;
}

.donate-btn {
    cursor: pointer;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.donate-btn:hover {
    background-color: #45a049;
}

.contact-link {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-link i {
    margin-right: 10px;
}

.contact-link:hover {
    background-color: #2980b9;
}
